part=xc7z010clg400-1

[hls]
flow_target=vivado
clock=10ns
syn.top=moving_max
syn.file=../../src/moving_max.cpp
syn.file=../../src/moving_max.h
tb.file=../../src/moving_max_tb.cpp
# автоконвеєризацію вимкнено в обох версіях; pipe вмикає #pragma HLS PIPELINE II=1 у MAIN_LOOP
syn.compile.pipeline_loops=0
syn.cflags=-DMM_PIPELINE
package.output.format=ip_catalog
package.output.syn=false
cosim.trace_level=all
